@model LAB2_ED2.Models.PeopleModel

@{
    ViewData["Title"] = "ViewDecodeLZ78";
}

<body>
    <h1>Información</h1>
    <div>
        <h4>Datos</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt class="col-sm-2">
                DPI
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.dpi)
            </dd>
            <dt class="col-sm-2">
                Fecha de nacimiento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.datebirth)
            </dd>
            <dt class="col-sm-2">
                Dirección
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.address)
            </dd>
            <dt class="col-sm-2">
                Companias
            </dt>
            <dd class="col-sm-10">

            </dd>

            @{
                int CountComp = 0;
                foreach (var Company in Model.companies)
                {
                    <dd class="col-sm-10">
                        @Company
                    </dd>

                    int CountC2 = 0;
                    foreach (var Decoded in Model.DecodeLZ78)
                    {
                        if (CountComp == CountC2)
                        {
                            <dd class="col-sm-10 table-warning">
                                @Decoded
                            </dd>

                        }
                        CountC2++;
                    }
                    CountComp++;

                }
            }
        </dl>
    </div>
</body>



<div>
    @if (Model != null)
    {
        @Html.ActionLink("Editar", "EditPeopleData", new { id = Model.dpi }) <line>|</line>
        @Html.ActionLink("Borrar", "DeletePeopleData", new { id = Model.dpi }) <line>|</line>
        @Html.ActionLink("Regresar a la Detalles", "ViewPeopleData", new { id = Model.dpi }) <line>|</line>
        @Html.ActionLink("Codificar LZ78", "ViewEncodeLZ78", new { id = Model.dpi })  <line>|</line>
    }
    <a asp-controller="PeopleM" asp-action="Index">Regresar a Inicio</a>
</div>



