@model LAB2_ED2.Models.PeopleModel

@{
    ViewData["Title"] = "ViewPeopleData";
}
<center>
<body>
    <h1><font color=" black">Perfil del cliente</font></h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 ">
                Nombre
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt class="col-sm-2 ">
                DPI
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.dpi)
            </dd>
            <dt class="col-sm-2 ">
                Fecha de nacimiento
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.datebirth)
            </dd>
            <dt class="col-sm-2 ">
                Dirección
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.address)
            </dd>
            <dd class="col-sm-10">

            </dd>
        </dl>
    </div>
</body>
</center>


<div>
    @if (Model != null)
    {
        @Html.ActionLink("Editar", "EditPeopleData", new { id = Model.dpi }) <line>|</line>
        @Html.ActionLink("Borrar", "DeletePeopleData", new { id = Model.dpi }) <line>|</line>
    }
    <a asp-controller="PeopleM" asp-action="Index">Regresar a Inicio</a>
</div>
